$border-color: #CCCCCC;

.selectable-item {
    cursor: pointer;

    &.selected, &:hover {
        background-color: $border-color;
    }

    &.new {
        &:hover {
            background-color: transparent;
        }
    }
}

.healthy-food-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid $border-color;
    width: 100%;
    
    .day-tabs {
        display: flex;
        padding: 5px;
        border: 1px solid $border-color;
        width: 100%;

        .day-tab {
            margin: 10px;
            padding: 10px;
            border: 1px solid $border-color;
            
            .action-item {
                margin-left: 20px;
                
                &:hover {
                    color: blue;
                }
            }
        }
    }
    
    .selected-day {
        display: flex;
        padding: 5px;
        border: 1px solid $border-color;
        width: 100%;
        
        .eating-times {
            display: flex;
            flex-direction: column;
            padding: 5px;
            border: 1px solid $border-color;

            .eating-time-item {
                margin: 10px;
                padding: 10px;
                border: 1px solid $border-color;
            }
        }
        
        .selected-eating-time {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            .eating-time-product-item {
                display: flex;
                
                .select-product {
                    width: 200px;
                }
                
                .select-product, .product-weight {
                    margin-right: 5px;
                }
                
                .action-bar {
                    display: flex;

                    .action-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        margin: 5px;

                        &:hover {
                            background-color: $border-color;
                        }
                    }
                }
            }
        }
    }
}