.new-product{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 10px 30px 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    .title {
        font-size: 28px;
    }
    .product-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 20px;
        
        .field-fill{
            margin: 10px;
            
            span{
                font-size: 18px;
                color: #878585;
            }
            input{
                display: flex;
                height: 30px;
                background-color: white;
                color: #878686;
                font-size: 20px;
                border-color: white;
                border-top: none;
                border-left: none;
                border-bottom: 1px solid #8f8a8a;
                width: 240px;
            }
        }
    }

    .btn-add-product{
        cursor: pointer;
        border: none;
        padding: 12px 30px;
        font-size: 18px;
        box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
        text-align: center;
        background-color: #f0f0f0;
    }
}
