.header {
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 21px;
    
    .main-link{
        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    }
    .add-link{
        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    }
}
