.header {
    background: url(https://demos.creative-tim.com/material-kit-pro-react/static/media/clark-street-merc.4e443266.jpg) 50%;
    height: 420px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 21px;
    
    .main-link{

        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    }
    .add-link{

        img{

        }
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    }
}
